<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>ECahrt 示例</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<link rel="stylesheet" href="../css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../css/app.css" />
		<style>
			.chart {
				height: 200px;
				margin: 0px;
				padding: 0px;
			}
			h5 {
				margin-top: 30px;
				font-weight: bold;
			}
			h5:first-child {
				margin-top: 15px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">chart（EChart图表）</h1>
			<span class="mui-icon mui-icon-clear mui-pull-right btnClearTable" onclick="clearTable();"></span>
		</header>
		<div class="mui-content">
			<div class="mui-content-padded">
				<p style="text-indent: 22px;">
					这是mui集成百度ECharts的图表示例，ECharts的详细用法及 API 请参考其官方网站: <a id='echarts' data-url='http://echarts.baidu.com'>http://echarts.baidu.com</a>
				</p>
			</div>
			<div class="mui-content-padded">
				<!--<h5>柱图示例</h5>
				<div class="chart" id="barChart"></div>-->
				<h5>线图示例</h5>
				<div class="chart" id="lineChart"></div>
				<h5>饼图示例</h5>
				<div class="chart" id="pieChart"></div>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../libs/echarts-all.js"></script>
		<script src="../js/app/index.js"></script>
		<script src="../js/app/echarts.js"></script>
	</body>

</html>